
<!--====== Start Header Section ======-->
<header class="header-area">
  <!-- Header Top Bar -->
  <div class="header-top-bar top-bar-one dark-black-bg">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-12 col-md-12 col-6">
          <div class="top-bar-left d-flex align-items-center">
            <span class="text">Welcome to Agriculture & Organic Food Template</span>
          <!--  <span class="lang-dropdown">
                                    <select class="wide">
                                        <option value="01">English</option>
                                        <option value="02">French</option>
                                    </select>
                                </span> -->
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12 col-6">
          <div class="top-bar-right">
            <span class="text"><i class="far fa-clock"></i>Opening Hours : Sunday- Friday, 08:00 am - 05:00pm</span>
            <ul class="social-link">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Navigation -->
  <div class="header-navigation navigation-three">
    <div class="nav-overlay"></div>
    <div class="container-fluid">
      <div class="primary-menu">
        <!-- Site Branding -->
        <div class="site-branding">
          <a href="index.html" class="brand-logo"><img src="assets/images/logo/logo-3.png" alt="Site Logo"></a>
          <a href="index.html" class="sticky-logo"><img src="assets/images/logo/logo-1.png" alt="Site Logo"></a>
        </div>
        <!-- Nav inner Menu -->
        <div class="nav-inner-menu">
          <!-- Nav Menu -->
          <div class="nav-menu">
            <!--=== Mobile Logo ===-->
            <div class="mobile-logo mb-30 d-block d-xl-none text-center">
              <a href="index.html" class="brand-logo"><img src="assets/images/logo/logo-1.png" alt="Site Logo"></a>
            </div>
            <!--=== Navbar Call Button ===-->
            <div class="call-button text-center">
              <span><i class="far fa-phone"></i><a href="tel:+216 99088487">+216 99088487</a></span>
            </div>
            <!--=== Main Menu ===-->
            <nav class="main-menu">
              <ul>
                <li><a routerLink="" class="active">Home</a>
                </li>
                <li><a routerLink="/about">About</a></li>
                <li ><a routerLink="/services">Services</a> </li>
           <!--     <li class="menu-item has-children"><a href="#">Portfolio</a>
                  <ul class="sub-menu">
                    <li><a href="portfolio-grid.html">Portfolio Grid</a></li>
                    <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                  </ul>
                </li> -->
                <li><a routerLink="/products">Products</a>
                </li>
               <!-- <li class="menu-item has-children"><a href="#">Blog</a>
                  <ul class="sub-menu">
                    <li><a href="blog-standard.html">Blog Standard</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li> -->
                <li><a routerLink="/contact">Contact</a>
                </li>
              </ul>
            </nav>
            <!-- Navbar Menu Button -->
            <div class="menu-button">
              <a routerLink="/contact" class="main-btn btn-yellow">Get a Quote</a>
            </div>
          </div>
          <!-- Nav Right Item -->
          <div class="nav-right-item d-flex align-items-center">
            <div class="call-button">
              <span><i class="far fa-phone"></i><a href="tel:+216 99088487">+216 99088487</a></span>
            </div>
            <div class="menu-button">
              <a routerLink="/contact" class="main-btn btn-yellow">Get a Quote</a>
            </div>

            <div class="navbar-toggler">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header><!--====== End Header Section ======-->
