<!--====== Start Header Section ======-->
<header class="header-area">
  <div class="header-top-bar top-bar-one dark-black-bg">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-12 col-md-12 col-6">
          <div class="top-bar-left d-flex align-items-center">
            <span class="text">Welcome to Agriculture & Organic Food Template</span>
            <span class="lang-dropdown">
                                    <select class="wide">
                                        <option value="01">English</option>
                                        <option value="02">French</option>
                                    </select>
                                </span>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12 col-6">
          <div class="top-bar-right">
            <span class="text"><i class="far fa-clock"></i>Opening Hours : Sunday- Friday, 08:00 am - 05:00pm</span>
            <ul class="social-link">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-navigation navigation-two">
    <div class="nav-overlay"></div>
    <div class="container-fluid">
      <div class="primary-menu">
        <div class="site-branding">
          <a href="index.html" class="brand-logo"><img src="assets/images/logo/logo-1.png" alt="Site Logo"></a>
        </div>
        <div class="nav-inner-menu">
          <div class="nav-menu">
            <!--=== Mobile Logo ===-->
            <div class="mobile-logo mb-30 d-block d-xl-none text-center">
              <a href="index.html" class="brand-logo"><img src="assets/images/logo/logo-1.png" alt="Site Logo"></a>
            </div>
            <!--=== Navbar Call Button ===-->
            <div class="call-button text-center">
              <span><i class="far fa-phone"></i><a href="tel:+012(345)678">+012 (345) 678</a></span>
            </div>
            <!--=== Main Menu ===-->
            <nav class="main-menu">
              <ul>
                <li class="menu-item has-children"><a href="#" class="active">Home</a>
                  <ul class="sub-menu">
                    <li><a href="index.html">Home Agriculture</a></li>
                    <li><a href="index-2.html">Home Organic Food</a></li>
                    <li><a href="index-3.html">Home Farming</a></li>
                    <li><a href="index-4.html">Home Dairy Farm</a></li>
                  </ul>
                </li>
                <li><a href="about.html">About</a></li>
                <li class="menu-item has-children"><a href="#">Services</a>
                  <ul class="sub-menu">
                    <li><a href="services.html">Our Services</a></li>
                    <li><a href="service-details.html">Service Details</a></li>
                  </ul>
                </li>
                <li class="menu-item has-children"><a href="#">Portfolio</a>
                  <ul class="sub-menu">
                    <li><a href="portfolio-grid.html">Portfolio Grid</a></li>
                    <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                  </ul>
                </li>
                <li class="menu-item has-children"><a href="#">Shop</a>
                  <ul class="sub-menu">
                    <li><a href="products.html">Our Products</a></li>
                    <li><a href="products-left-sidebar.html">Product Left Sidebar</a></li>
                    <li><a href="products-right-sidebar.html">Product Right Sidebar</a></li>
                    <li><a href="product-details.html">Product Details</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                  </ul>
                </li>
                <li class="menu-item has-children"><a href="#">Blog</a>
                  <ul class="sub-menu">
                    <li><a href="blog-standard.html">Blog Standard</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li class="menu-item has-children"><a href="#">Pages</a>
                  <ul class="sub-menu">
                    <li><a href="farmers.html">Our Farmers</a></li>
                    <li><a href="faqs.html">Faq</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <!--=== Navbar Menu Button ===-->
            <div class="menu-button">
              <a href="contact.html" class="main-btn btn-yellow">Get a Quote</a>
            </div>
          </div>
          <!--=== nav Right Item ===-->
          <div class="nav-right-item d-flex align-items-center">
            <div class="call-button">
              <span><i class="far fa-phone"></i><a href="tel:+012(345)678">+012 (345) 678</a></span>
            </div>
            <div class="menu-button">
              <a href="contact.html" class="main-btn btn-yellow">Get a Quote</a>
            </div>
            <div class="navbar-toggler">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--====== End Header Section ======-->
